<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.debtlistandroid"
    android:versionCode="0"
    android:versionName="0.0" >

    <!-- Let me use the Internetz -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Let me check if we are connected with wifi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
		<receiver android:name="android.updater.OnAlarmReceiver" />
        <service 
            android:name="android.updater.UpdaterService"
            android:exported="false" >
        </service>
        <activity
            android:name="android.debtlistandroid.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="android.debtlistandroid.DebtViewActivity"
            android:label="@string/title_activity_debt_view" >
        </activity>
        <activity
            android:name="android.debtlistandroid.CreateDebtActivity"
            android:label="@string/title_activity_create_debt"
            android:parentActivityName="android.debtlistandroid.DebtViewActivity"
            android:windowSoftInputMode="stateAlwaysVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.debtlistandroid.DebtViewActivity" />
        </activity>
        <activity
            android:name="android.debtlistandroid.FriendViewActivity"
            android:label="@string/title_activity_friend_view"
            android:parentActivityName="android.debtlistandroid.DebtViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.debtlistandroid.DebtViewActivity" />
        </activity>
        <activity
            android:name="android.debtlistandroid.AddFriendView"
            android:label="@string/title_activity_add_friend_view" >
        </activity>
        <activity
            android:name="android.debtlistandroid.CreateUserActivity"
            android:label="@string/title_activity_create_user"
            android:parentActivityName="android.debtlistandroid.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.debtlistandroid.LoginActivity" />
        </activity>
        <activity
            android:name="android.debtlistandroid.ActivateUserActivity"
            android:label="@string/title_activity_activate_user"
            android:parentActivityName="android.debtlistandroid.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.debtlistandroid.LoginActivity" />
        </activity>
        <activity
            android:name="android.debtlistandroid.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>